.columns
  .column.is-8
    .media
      .media-left
        = gravatar_image_tag(@user.email, class: 'border-radius-6', size: 48, alt: @user.username)
      .media-right
        %h1.title.is-1 #{@user.username}
        %h3.subtitle.is-5.has-text-grey #{@user.email}
    .level= link_to "Postagens", user_posts_path(@user.to_param), class: "has-text-weight-semibold"
    .content= markdown(@user.about_me)
    - if @user == current_user || has_role?(:admin)
      = link_to 'Editar Perfil', edit_user_registration_path, class:'button is-dark'
