%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Body:
  = @post.body
%p
  %b Post type:
  = @post.post_type
%p
  %b User:
  = @post.user.email
- @comments.each do | comment |
  %p
    %b Commens:
    = comment.body
    %b Commented on by:
    = comment.user.email

= link_to 'Edit', edit_subject_post_path(@subject, @post)
\|
= link_to 'Back', subject_posts_path(@subject)
