%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Body:
  = @post.body
%p
  %b Post type:
  = @post.post_type
%p
  %b User:
  = @post.user.email

= link_to 'Edit', edit_subject_post_path(@post)
\|
= link_to 'Back', subject_post_path
