.columns
  .column.is-8
    %h1.title.is-2.has-text-grey.post-title= @post.title
    %h3.subtitle.is-5.has-text-grey
      - @author = @post.user
      %b= @post.post_type == "offer" ? "Procura por alunos." : "Procura por professor."
      Postado por #{link_to @author.username, profile_path(@author.to_param), class: "has-text-black"} em #{link_to @post.subject.title, @post.subject}.
    .level
      .level-left
      .level-right
        - if post_author(@post) || has_role?(:admin)
          .buttons
            = link_to 'Editar Post', edit_post_path(@post), class:'button'
            = link_to 'Excluir', post_path(@post), method: :delete, data: { confirm: "Deletar post?" }, class:'button'
    .content= markdown(@post.body)
    %h2.subtitle.is-5.has-text-grey
      = @post.comments.count
      Comentários
    #post-replies
      = render @post.comments
    %hr/
    %h3.subtitle.is-3.has-text-grey Deixe seu comentário
    - if user_signed_in?
      = render 'comments/form'
    - else
      %p
        Para comentar você precisa #{link_to 'Acessar', new_user_session_path}. Ja tem uma conta?
        \#{link_to 'Inscreva-se', new_user_registration_path} caso não tiver.
  = render 'shared/sidebar'
